.homepage {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 54, 94, 0);
}
.homepagetitle{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 8%;
    background-color: rgba(92, 119, 255, 0.48);
}

.homepageUI {
    background-color: white;
    height: 5%;
    position: relative;
    z-index: 1;
    margin: auto;
}

.object_location {
    width: 95%;
    height: 3%;
    background-color: rgba(94, 94, 94, 0);
    position: relative;
    z-index: 1;
    left: 1%;
    top: 2%;
}

.formselect {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.selectone {
    position: relative;
    z-index: 1;
    /*width: 10%;*/
    float: left;
}

.selectoneTop {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.radiocircle {
    width: 20px;
    height: 20px;
}

.selectoneTop:hover {
    cursor: pointer;
}

.selectoneTop:hover .radiocircle {
    position: relative;
    left: 1%;
    background-color: rgba(255, 112, 211, 0.59);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    filter: blur(2px);
}

.loginouttime {
    width: 30%;
    height: 35%;
    background-color: rgba(72, 57, 9, 0.54);
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 25%;
    border-radius: 10px;
}

.outtimetitle {
    position: relative;
    z-index: 1;
    top: 20px;
    font-size: 30px;
    width: 100%;
}

.outtimecontext {
    position: relative;
    z-index: 1;
    top: 30%;
    font-size: 20px;
}

.outtimeclick {
    position: relative;
    z-index: 1;
    width: 20%;
    height: 10%;
    border-radius: 15px;
    top: 170px;
    background-color: rgba(56, 87, 90, 0.33);
    outline: none;
}

.searchclick {
    position: absolute;
    z-index: 1;
    right: 1%;
    top: 1%;
}

.languageUI {
    position: relative;
    z-index: 1;
    left: 5%;
}

.languagenodata {
    position: absolute;
    z-index: 0;
    top: 40%;
    left: 47.5%;
    color: rgba(49, 35, 23, 0.33);
    font-size: 30px;
}

.contenttext {
    position: relative;
    z-index: 1;
    width: 100%;
    /*top: 6%;*/
}

.contenttexttable {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.table_tr {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid rgba(75, 75, 75, 0.2);
    height: 27px;
}

td.width {
    position: relative;
    z-index: 1;
    width: 19%;
    border-left: 1px dotted rgba(75, 75, 75, 0.1);
}

.letmore {
    position: relative;
    z-index: 1;
    top: 25px;
    /*left: 49%;*/
}

.letmorebox {
    position: relative;
    z-index: 1;
    height: 70px;
}
.thstyle{
    background-color: rgba(0, 0, 0, 0.63);
    border-left: 6px double rgb(245, 245, 255);
    border-right: 6px double rgb(245, 245, 255);
    line-height: 10%;
}
.Logo{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 0;
    top: 30%;
}
.personal{
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 55%;
    right: 8%;
    background-color: rgba(82, 93, 118, 0);
    top: 20%;
    color: white;
    font-size: 20px;
}
.personalimage{
    /*float: left;*/
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1%;
}
img{
    width: 100%;
    height: 100%;
}
.username{
    position: absolute;
    /*float: left;*/
    left: 15%;
    top: 15%;
}
.shuxian{
    position: relative;
    left: 35%;
    top: 15%;
    /*float: left;*/
    /*padding-left: 20px;*/
    height: 30px;
    width: 0;
    border-radius: 100px;
    border: 1px solid white;
}
.loginquit{
    position: absolute;
    top: 23%;
    left: 40%;
    font-size: 18px;
}